.card {
  background-color: rgba(255, 211, 230, 0.576);
  height: 65vh;
  width: 50vw;
  min-width: 500px;
  min-height: 500px;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: auto;
  margin-top: 12vh;
  padding: 20px;
  overflow: hidden;
}

.card-inner {
  position: relative;
  background-color: white;;
  height: 87%;
  width: 90%;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  overflow: hidden;
}

.lace {
  width: 150%;
  margin-top: -10%;
  margin-left: -10%;
  z-index: -1;
}

.r_ribbon {
  width: 20rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.l_ribbon {
  width: 20rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.todo-list {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #d47499;
  margin-top: 3rem;
}

.input-section {
  position: relative;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 25;
}
input {
    width: 60%;
    padding: 15px 20px;
    border: 2px solid #e1e5e9;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
    outline: none;
    color: #4a4a6a;
}

button {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button {
  background-color: #efc0d5;
  padding: 9px 18px;
  font-size: 2rem;
  font-weight: lighter;
  border-radius: 10px;
}
.add-button:hover {
  background-color: #d585a9;
}

.task-cont {
  width: 80%;
  max-height: 250px;
  height: 50%;
  position: relative;
  margin-top: -10px;
  padding-right: 10px;
  background-color: transparent;
  z-index: 20;
  margin: auto;
  overflow-y: auto;
}

.delete-button {
  background-color: #f2b5b5;
}
.delete-button:hover {
  background-color: rgb(218, 99, 99);
}

.move-button {
  background-color: #b5d6f2;
}
.move-button:hover {
  background-color: #5f9ace
}

ol {
  padding: 0;
}

li {
  font-size: 0.8rem;
  font-weight:bold;
  color: #d6a0b6;
  padding: 15px;
  background-color: white;
  margin: 10px;
  border: 3px solid rgb(243, 230, 234);
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button, .move-button {
  padding: 8px 12px;
  font-size: 0.5rem;
  margin-left: 10px;

}